<a href="https://colab.research.google.com/github/mashdas/Deep_Learning_101/blob/master/rapido_clf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
data=pd.read_csv("ct_rr.csv",dtype={'numbers':np.int32},na_values=[' None'])

In [61]:

data.dropna(axis=0,inplace=True)
data.shape
data.head()

                    ts   number   pick_lat   pick_lng   drop_lat   drop_lng
0  2018-04-07 07:07:17  14626.0  12.313621  76.658195  12.287301  76.602280
1  2018-04-07 07:32:27  85490.0  12.943947  77.560745  12.954014  77.543770
2  2018-04-07 07:36:44   5408.0  12.899603  77.587300  12.934780  77.569950
3  2018-04-07 07:38:00  58940.0  12.918229  77.607544  12.968971  77.636375
4  2018-04-07 07:39:29   5408.0  12.899490  77.587270  12.934780  77.569950

In [0]:
data.head()
num_holder=data["number"].values

In [0]:
from dateutil import parser

In [0]:
data["Day"]= data.apply(lambda row : parser.parse(row['ts']).isoweekday(), axis = 1) 
#data["Month"]= data.apply(lambda row : parser.parse(row['ts']).month, axis = 1)  
#

In [0]:
def hourmapper(x):
  stuff=x.split(' ')[1].split(':')
  return int(stuff[0])+int(stuff[1])/60+int(stuff[2])/3600

In [0]:
data["time"]=data.apply(lambda row: hourmapper(row['ts']),axis=1)

In [0]:
data["Day"]=data["Day"].map({1:"Mon",2:"Tue",3:"Wed",4:"Thr",5:"Fri",6:"Sat",7:"Sun"})

In [72]:
data.head()

                    ts   number   pick_lat  ...   drop_lng  Day      time
0  2018-04-07 07:07:17  14626.0  12.313621  ...  76.602280  Sat  7.121389
1  2018-04-07 07:32:27  85490.0  12.943947  ...  77.543770  Sat  7.540833
2  2018-04-07 07:36:44   5408.0  12.899603  ...  77.569950  Sat  7.612222
3  2018-04-07 07:38:00  58940.0  12.918229  ...  77.636375  Sat  7.633333
4  2018-04-07 07:39:29   5408.0  12.899490  ...  77.569950  Sat  7.658056

[5 rows x 8 columns]

In [0]:
#data["Month"]=data["Month"].map({1:"Jan",2:"Feb",3:"Mar",4:"Apr",5:"May",6:"Jun",7:"Jul",8:"Aug",9:"Sept",10:"Oct",11:"Nov",12:"Dec"})

In [0]:
df=pd.get_dummies(data["Day"])
data.drop(["ts","Day"],axis=1,inplace=True)

In [75]:
data.head()

    number   pick_lat   pick_lng   drop_lat   drop_lng      time
0  14626.0  12.313621  76.658195  12.287301  76.602280  7.121389
1  85490.0  12.943947  77.560745  12.954014  77.543770  7.540833
2   5408.0  12.899603  77.587300  12.934780  77.569950  7.612222
3  58940.0  12.918229  77.607544  12.968971  77.636375  7.633333
4   5408.0  12.899490  77.587270  12.934780  77.569950  7.658056

In [0]:
data=pd.concat([data,df],axis=1)

In [77]:
data.head()

    number   pick_lat   pick_lng   drop_lat   drop_lng  ...  Sat  Sun  Thr  Tue  Wed
0  14626.0  12.313621  76.658195  12.287301  76.602280  ...    1    0    0    0    0
1  85490.0  12.943947  77.560745  12.954014  77.543770  ...    1    0    0    0    0
2   5408.0  12.899603  77.587300  12.934780  77.569950  ...    1    0    0    0    0
3  58940.0  12.918229  77.607544  12.968971  77.636375  ...    1    0    0    0    0
4   5408.0  12.899490  77.587270  12.934780  77.569950  ...    1    0    0    0    0

[5 rows x 13 columns]

In [78]:
data.shape

(1344160, 13)

In [79]:
data.shape

(1344160, 13)

In [0]:
d_copy=pd.DataFrame()

In [0]:
d_copy=data.copy()

In [82]:
d_copy

          number   pick_lat   pick_lng   drop_lat  ...  Sun  Thr  Tue  Wed
0        14626.0  12.313621  76.658195  12.287301  ...    0    0    0    0
1        85490.0  12.943947  77.560745  12.954014  ...    0    0    0    0
2         5408.0  12.899603  77.587300  12.934780  ...    0    0    0    0
3        58940.0  12.918229  77.607544  12.968971  ...    0    0    0    0
4         5408.0  12.899490  77.587270  12.934780  ...    0    0    0    0
...          ...        ...        ...        ...  ...  ...  ...  ...  ...
1344198  35684.0  13.016794  77.549225  12.992449  ...    0    0    0    1
1344199  35684.0  13.016794  77.549225  12.992449  ...    0    0    0    1
1344200  35684.0  13.016794  77.549225  12.992449  ...    0    0    0    1
1344201  35684.0  13.016794  77.549225  12.992449  ...    0    0    0    1
1344202  35684.0  13.016794  77.549225  12.992449  ...    0    0    0    1

[1344160 rows x 13 columns]

In [83]:
d_copy[d_copy["number"]==35684.0].shape[0]

216

In [0]:
x_num=d_copy["number"].unique()
tup=[]

In [0]:
for i in range(len(x_num)):
  tup.append((x_num[i],d_copy[d_copy["number"]==x_num[i]].shape[0]))

In [0]:
tup.sort(key=lambda x:x[1],reverse=True)

In [87]:
len(tup)

58305

In [0]:
filtered_tup=filter(lambda x:x[1]>35,tup)

In [0]:
f_tup=list(filtered_tup)

In [0]:
f_tup

In [0]:
num_filter=[x[0] for x in f_tup ]

In [0]:
col_names =  ["number","pick_lat","pick_lng","drop_lat","drop_lng","time","Fri","Mon","Sat","Sun","Thr","Tue","Wed"]
x_copy= pd.DataFrame(columns = col_names)
for x in num_filter:
  x_copy=pd.concat([x_copy,d_copy[d_copy["number"]==x]],axis=0)

In [0]:
x_copy
x_copy.to_csv('filtered.csv')

In [0]:
##Monday Classfier
x_copy_mon=pd.read_csv("filtered.csv")
x_copy_mon=x_copy_mon[x_copy_mon["Mon"]==1].copy()

In [0]:
x_copy_mon.drop(["drop_lat","drop_lng","Fri","Mon","Sat","Sun","Thr","Tue","Wed"],inplace=True,axis=1)

In [5]:
x_copy_mon

       Unnamed: 0   number   pick_lat  pick_lng       time
77          92692  50291.0  12.946865  77.62481  12.341667
78          92767  50291.0  12.934498  77.63542  16.387500
79          92773  50291.0  12.934805  77.63482  16.884167
80          92953  50291.0  12.946960  77.62475  21.369167
96         153294  50291.0  12.947096  77.62444   9.653889
...           ...      ...        ...       ...        ...
34269      606823  46866.0  12.897175  77.58807   9.833056
34270      606845  46866.0  12.897175  77.58807   9.860556
34286      667528  46866.0  12.897217  77.58808  10.269167
34287      667542  46866.0  12.910467  77.60254  11.026667
34288      667763  46866.0  12.933147  77.60259  19.786111

[7039 rows x 5 columns]

In [6]:
from scipy.stats import zscore
x_copy_mon["time"]=x_copy_mon.apply(lambda row: round(row['time'],2)*100,axis=1)
x_copy_mon["pick_lat"]=x_copy_mon.apply(lambda row: round(row['pick_lat'],4)*10000,axis=1)
x_copy_mon["pick_lng"]=x_copy_mon.apply(lambda row: round(row['pick_lng'],4)*10000,axis=1)
y=zscore(x_copy_mon["time"])
x_copy_mon

       Unnamed: 0   number  pick_lat  pick_lng    time
77          92692  50291.0  129469.0  776248.0  1234.0
78          92767  50291.0  129345.0  776354.0  1639.0
79          92773  50291.0  129348.0  776348.0  1688.0
80          92953  50291.0  129470.0  776248.0  2137.0
96         153294  50291.0  129471.0  776244.0   965.0
...           ...      ...       ...       ...     ...
34269      606823  46866.0  128972.0  775881.0   983.0
34270      606845  46866.0  128972.0  775881.0   986.0
34286      667528  46866.0  128972.0  775881.0  1027.0
34287      667542  46866.0  129105.0  776025.0  1103.0
34288      667763  46866.0  129331.0  776026.0  1979.0

[7039 rows x 5 columns]

49

In [0]:
dums=pd.get_dummies(x_copy_mon,columns=["number"])

In [0]:
X=dums.iloc[:,1:]

In [0]:
X.to_csv('filteredx.csv')

In [0]:


x_columns = ["pick_lat","pick_lng","time"]
for col in x_columns:
    X[col] = zscore(X[col])

# Convert to numpy - Regression

In [54]:
from sklearn import preprocessing
lab_enc = preprocessing.LabelEncoder()
y=lab_enc.fit_transform(y)
y

array([ 472,  682,  723, ...,  294,  370, 1002])

In [0]:
#X=X.iloc[:,:].values
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.01)

In [57]:
X_train

array([[-0.31997206, -0.20976928,  1.58801788, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.16830326, -0.03197343, -0.95153397, ...,  0.        ,
         0.        ,  0.        ],
       [-0.46991488, -0.26056809, -0.82213006, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-0.28536987,  0.39981649, -0.92929267, ...,  0.        ,
         0.        ,  0.        ],
       [-0.06622268,  0.20932094, -0.8302178 , ...,  0.        ,
         0.        ,  0.        ],
       [-0.58525551, -0.24151854, -0.82617393, ...,  0.        ,
         0.        ,  0.        ]])

In [0]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)

In [63]:
clf.score(X_test,y_test)

0.8732394366197183